.hero {
  background-image: linear-gradient(
          rgba(0, 0, 0, 0.45),
          rgba(0, 0, 0, 0.45)
  ),
  url("../img/volunteer.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 80vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  color: white;
  max-width: 800px;
  padding: 20px;
}

.button{
  background-color: #EB271C;
  color: #fff;
}

.button:hover{
  background-color: #ca2017;
}


.hero-content h1 {
  color: white;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}


.navbar{
  background-color: #42576B;
}